<div class="container">
  <h1>My bookings</h1>

  <div class="notification">
    <% @bookings.each do |booking| %>
      <%= image_tag "https://res.cloudinary.com/dppymdnxh/image/upload/v1668616924/spell%20images/vera-velichko-potions-poison-skull-wallpaper_vornxb.jpg", height:60 %>
      <div class="notification-content">
        <p><small><%= booking.start_date %> to  <%= booking.end_date %></small></p>
        <p><%= booking.spell.name %></p>
        <p><strong><%= booking.status %></strong></p>
      </div>

      <div class="notification-actions">
        <%= link_to "Cancel", my_bookings_path, data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} %>
      </div>
    <% end %>
  </div>
</div>
