<h1>My bookings</h1>

<ul>
<%= @bookings.current_user.each do |booking| %>
  <li> <%= booking.status %></li>
  <li> <%= booking.spell %></li>
  <li> <%= booking.start_date %></li>
  <li> <%= booking.end_date %></li>
<% end %>
</ul>
