<div class="height_70 show__container ">
  <div class="show_wrapper">
    <div class="show__text">
      <h2 class='show_text_h2'>
        <%= @spell.name.capitalize %>
        <p class="spell__first_name">By <%= @spell.user.first_name.capitalize%></p>
      </h2>
      <div class="show__text_box">

      <div class="desc__box">
        <p class="desc">Description:</p>
        <p><%= @spell.description.capitalize %></p>
      </div>
        <div>
          <p class="category_location">
            <span><span class="desc">Category:</span> <%= @spell.category %></span> <span><span class="desc">Location:</span> <%= @spell.location%></span>
          </p>
        </div>
      </div>
      <p class= 'show-price'>Price: <span>$<%= @spell.price%></span></p>
      <div class="flex__link">
        <%= link_to new_spell_booking_path(@spell), class: 'linnn' do %>
          <h2 class="nav-link-register booking_link"> Book <%= @spell.name %></h2>
        <% end %>
      </div>
    </div>
    <div class="show__img_box">
      <% if @spell.photo.attached? %>
        <%= cl_image_tag @spell.photo.key, class: 'show__img' %>
      <% end  %>
      <% if @spell.photo.attached? == false %>
        <%= image_tag @background_img.sample, class: 'show__img' %>
      <% end  %>
    </div>
  </div>
</div>
